__pycache__/
*.pyc
debug_output/
pictures/
.DS_Store
.vscode
arrowenv/
arrow-detection-*/
arrow-detector-*
resize_specific_arrows*
runs/
dataset/
synthetic-medical-arrows/
reapplied/
medical-images/
*.pt
*.env